<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dare.modules.hrm.mapper.PositionMapper">
    <select id="SelectPosition" resultType="com.dare.modules.hrm.entity.Position">
        select * from hrm_position where dept_id=#{deptId}
    </select>
    <update id="UpdatePosition" parameterType="com.dare.modules.hrm.entity.Position">
        update hrm_position set position_name=#{positionName},description=#{description},gmt_modified=#{time},dept_id=#{deptId}
        where position_id=#{positionId}

    </update>
</mapper>